body {
    background-color: #047857; 
    margin: 0;
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-around;
}

h3{
   font-size: 28px;   
}

.container_one{
    display: flex;
    justify-content: space-around;
}

.container_two{
    display: flex;
    justify-content: space-around;
}

button {
    background: none;
}

h1,h2,h3,h4,h5,h6 {
    color: #fff;
}

#home-score {
    font-family: '60s Scoreboard', sans-serif;
    outline: 5px dotted #EF0107;
    background: #0a0001;
    font-size: 90px;
    color: #fff;
    width: 145px;
    margin: 10px;
}

#away-score {
    font-family: '60s Scoreboard', sans-serif;
    outline: 5px dotted #6CABDD;
    background: #0a0001;
    font-size: 90px;
    color: #fff;
    width: 145px;
    margin: 10px;
}

button{
    font-family: '60s Scoreboard', sans-serif;
}
